@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #0c0c0c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0c0c0c;
		--foreground: #ffffff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;

	@apply text-base md:text-lg leading-snug;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
